openapi: 3.0.3
info:
  version: 1.0.0
  title: GitHub APIs
  description: GitHub APIs for managing GitHub operations.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
tags:
  - name: issues
    description: Interact with GitHub Issues.
  - name: search
    description: Look for stuff on GitHub.
servers:
  - url: https://api.github.com
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
paths:
  /issues:
    get:
      security:
        - oAuth2AuthCode: []
      operationId: listIssues
      summary: List issues assigned to the user.
      description: >
        list issues assigned to the user across all visible repositories. 
        Use the filter query parameter to fetch issues that are not necessarily assigned to the current user.
      parameters:
        - name: filter
          in: query
          description: >
            Indicates which sorts of issues to return. Options are 'assigned',
            'created', 'mentioned', 'subscribed', 'repos', 'all'.
          required: false
          schema:
            type: string
            enum:
              - assigned
              - created
              - mentioned
              - subscribed
              - repos
              - all
            default: assigned
        - name: state
          in: query
          description: >
            Indicates the state of the issues to return. Options are 'open',
            'closed', 'all'.
          required: false
          schema:
            type: string
            enum:
              - open
              - closed
              - all
            default: open
        - name: labels
          in: query
          description: Comma-separated list of label names.
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: >
            What to sort results by. Options are 'created', 'updated',
            'comments'.
          required: false
          schema:
            type: string
            enum:
              - created
              - updated
              - comments
            default: created
        - name: direction
          in: query
          description: |
            The direction to sort the results by. Options are 'asc', 'desc'.
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: since
          in: query
          description: >
            Only show results that were last updated after given time. 
            Time is in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ
          required: false
          schema:
            type: string
            format: date-time
        - name: pulls
          in: query
          description: Include pull requests. Default is false.
          required: false
          schema:
            type: boolean
            default: false
        - name: per_page
          in: query
          description: The number of results per page (max 100). Default is 5.
          required: false
          schema:
            type: integer
            default: 5
        - name: page
          in: query
          description: The page number of the results to fetch. Default is 1.
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of issues
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    url:
                      type: string
                    repository_url:
                      type: string
                    html_url:
                      type: string
                    number:
                      type: integer
                    state:
                      type: string
                    title:
                      type: string
                    body:
                      type: string
                    user:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    labels:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type: string
                          color:
                            type: string
                    assignee:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    assignees:
                      type: array
                      items:
                        type: object
                        properties:
                          login:
                            type: string
                          id:
                            type: integer
                    milestone:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                    comments:
                      type: integer
                    pull_request:
                      type: object
                      properties:
                        url:
                          type: string
                        html_url:
                          type: string
                        diff_url:
                          type: string
                        patch_url:
                          type: string
                    closed_at:
                      type: string
                      format: date-time
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
                    repository:
                      type: object
                      properties:
                        name:
                          type: string
                        full_name:
                          type: string
                        html_url:
                          type: string
                        owner:
                          type: object
                          properties:
                            login:
                              type: string  
        '304':
          description: Not modified
        '404':
          description: Resource not found
        '422':
          description: Validation failed, or the endpoint has been spammed.
  /repos/{owner}/{repo}/issues:
    get:
      security:
        - oAuth2AuthCode: []
      operationId: listRepoIssues
      summary: List issues in a repository. 
      description: >
        List issues from the repository. Issues can be filtered by creator, state,
        labels, and other criteria.
      parameters:
        - name: owner
          in: path
          description: Indicates the owner of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Indicates the name of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: milestone
          in: query
          description: >
            If an integer is passed, it should refer to a milestone by its
            number.  If the string * is passed, issues with any milestone are
            accepted.  If the string none is passed, issues without milestones
            are returned.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: >
            Indicates the state of the issues to return. Can be either 'open',
            'closed', or 'all'.
          required: false
          schema:
            type: string
            enum:
              - open
              - closed
              - all
            default: open
        - name: assignee
          in: query
          description: >
            Can be the name of a user. Pass in none for issues with no assigned
            user,  and * for issues assigned to any user.
          required: false
          schema:
            type: string
        - name: creator
          in: query
          description: The user that created the issue.
          required: false
          schema:
            type: string
        - name: mentioned
          in: query
          description: A user that's mentioned in the issue.
          required: false
          schema:
            type: string
        - name: labels
          in: query
          description: |
            Comma-separated list of label names. Example: bug,ui,@high
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            What to sort results by. Can be either created, updated, or
            comments.
          required: false
          schema:
            type: string
            enum:
              - created
              - updated
              - comments
            default: created
        - name: direction
          in: query
          description: The direction to sort the results by. Can be either asc or desc.
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: since
          in: query
          description: >
            Only show notifications updated after the given time.  This is a
            timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
          required: false
          schema:
            type: string
            format: date-time
        - name: per_page
          in: query
          description: The number of results per page (max 100). Default is 5.
          required: false
          schema:
            type: integer
            default: 5
        - name: page
          in: query
          description: The page number of the results to fetch. Default is 1.
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of issues
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    url:
                      type: string
                    repository_url:
                      type: string
                    html_url:
                      type: string
                    number:
                      type: integer
                    state:
                      type: string
                    title:
                      type: string
                    body:
                      type: string
                    user:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    labels:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type: string
                          color:
                            type: string
                    assignee:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    assignees:
                      type: array
                      items:
                        type: object
                        properties:
                          login:
                            type: string
                          id:
                            type: integer
                    milestone:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                    locked:
                      type: boolean
                    comments:
                      type: integer
                    pull_request:
                      type: object
                      properties:
                        url:
                          type: string
                        html_url:
                          type: string
                        diff_url:
                          type: string
                        patch_url:
                          type: string
                    closed_at:
                      type: string
                      format: date-time
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
        '304':
          description: Not modified
        '404':
          description: Resource not found
        '422':
          description: Validation failed, or the endpoint has been spammed
  /repos/{owner}/{repo}/issues/{issue_number}:
    get:
      security:
        - oAuth2AuthCode: []
      operationId: getIssue
      summary: Get a specific issue
      description: |
        Fetch a specific issue by its issue number from a repository.
      parameters:
        - name: owner
          in: path
          description: Indicates the owner of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Indicates the name of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: issue_number
          in: path
          description: Indicates the issue number. It's a required property.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Issue details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  node_id:
                    type: string
                  url:
                    type: string
                  repository_url:
                    type: string
                  labels_url:
                    type: string
                  comments_url:
                    type: string
                  events_url:
                    type: string
                  html_url:
                    type: string
                  number:
                    type: integer
                  state:
                    type: string
                  title:
                    type: stringf
                  body:
                    type: string
                  user:
                    type: object
                    properties:
                      login:
                        type: string
                      id:
                        type: integer
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                        color:
                          type: string
                  assignee:
                    type: object
                    properties:
                      login:
                        type: string
                      id:
                        type: integer
                  assignees:
                    type: array
                    items:
                      type: object
                      properties:
                        login:
                          type: string
                  milestone:
                    type: object
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                  locked:
                    type: boolean
                  comments:
                    type: integer
                  pull_request:
                    type: object
                    properties:
                      url:
                        type: string
                      html_url:
                        type: string
                      diff_url:
                        type: string
                      patch_url:
                        type: string
                  closed_at:
                    type: string
                    format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '404':
          description: Resource not found
        '422':
          description: Validation failed, or the endpoint has been spammed.
    patch:
      security:
        - oAuth2AuthCode: []
      operationId: updateIssue
      summary: Update an issue
      description: >
        Update an issue by changing attributes like title, body, state,
        assignees, labels, milestone or state.
      parameters:
        - name: owner
          in: path
          description: Indicates the owner of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Indicates the name of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: issue_number
          in: path
          description: Indicates the issue number. It's a required property.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the issue.
                body:
                  type: string
                  description: The body content of the issue.
                state:
                  type: string
                  description: State of the issue. Either 'open' or 'closed'.
                  enum:
                    - open
                    - closed
                state_reason:
                  type: string
                  description: The reason for the state change. Ignored unless state is changed.
                  enum:
                    - completed
                    - not_planned
                    - reopened
                assignees:
                  type: array
                  description: Usernames to assign to the issue. Pass one or more user logins to replace the set of assignees on this issue. Send an empty array to clear all assignees from the issue.
                  items:
                    type: string
                labels:
                  type: array
                  description: Labels to associate with the issue.
                  items:
                    type: string
                milestone:
                  type: integer
                  description: The number of the milestone to associate this issue with.
      responses:
        '200':
          description: Issue successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  node_id:
                    type: string
                  url:
                    type: string
                  repository_url:
                    type: string
                  labels_url:
                    type: string
                  comments_url:
                    type: string
                  events_url:
                    type: string
                  html_url:
                    type: string
                  number:
                    type: integer
                  state:
                    type: string
                  title:
                    type: string
                  body:
                    type: string
                  user:
                    type: object
                    properties:
                      login:
                        type: string
                      id:
                        type: integer
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                        color:
                          type: string
                  assignee:
                    type: object
                    properties:
                      login:
                        type: string
                      id:
                        type: integer
                  assignees:
                    type: array
                    items:
                      type: object
                      properties:
                        login:
                          type: string
                  milestone:
                    type: object
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                  locked:
                    type: boolean
                  comments:
                    type: integer
                  pull_request:
                    type: object
                    properties:
                      url:
                        type: string
                      html_url:
                        type: string
                      diff_url:
                        type: string
                      patch_url:
                        type: string
                  closed_at:
                    type: string
                    format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '404':
          description: Resource not found
        '422':
          description: Validation failed, or the endpoint has been spammed.
  /repos/{owner}/{repo}/pulls:
    get:
      security:
        - oAuth2AuthCode: []
      operationId: listPullRequests
      summary: List pull requests from a repository. 
      description: >
        Lists pull requests in a specified repository. Pull requests can be
        filtered by few criteria.
      parameters:
        - name: owner
          in: path
          description: Indicates the owner of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Indicates the name of the repository. It's a required property.
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: |
            Either `open`, `closed`, or `all` to filter by state.
          required: false
          schema:
            type: string
            enum:
              - open
              - closed
              - all
            default: open
        - name: sort
          in: query
          description: >
            What to sort results by. Can be either `created`, `updated`,
            `popularity`, `long-running`.
          required: false
          schema:
            type: string
            enum:
              - created
              - updated
              - popularity
              - long-running
            default: created
        - name: direction
          in: query
          description: |
            The direction of the sort. Can be either `asc` or `desc`.
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: per_page
          in: query
          description: The number of results per page (max 100). Default is 5.
          required: false
          schema:
            type: integer
            default: 5
        - name: page
          in: query
          description: The page number of the results to fetch. Default is 1.
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of pull requests
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    url:
                      type: string
                    html_url:
                      type: string
                    diff_url:
                      type: string
                    issue_url:
                      type: string
                    number:
                      type: integer
                    state:
                      type: string
                    title:
                      type: string
                    user:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    body:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
                    closed_at:
                      type: string
                      format: date-time
                    merged_at:
                      type: string
                      format: date-time
                    merge_commit_sha:
                      type: string
                    assignee:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    assignees:
                      type: array
                      items:
                        type: object
                        properties:
                          login:
                            type: string
                          id:
                            type: integer
                    requested_reviewers:
                      type: array
                      items:
                        type: object
                        properties:
                          login:
                            type: string
                          id:
                            type: integer
                    labels:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type: string
                          color:
                            type: string
                    milestone:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                    head:
                      type: object
                      properties:
                        label:
                          type: string
                        ref:
                          type: string
                        sha:
                          type: string
                        user:
                          type: object
                          properties:
                            login:
                              type: string
                            id:
                              type: integer
                        repo:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            full_name:
                              type: string
                    base:
                      type: object
                      properties:
                        label:
                          type: string
                        ref:
                          type: string
                        sha:
                          type: string
                        user:
                          type: object
                          properties:
                            login:
                              type: string
                            id:
                              type: integer
                        repo:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            full_name:
                              type: string
        '304':
          description: Not modified
        '422':
          description: Validation failed, or the endpoint has been spammed.
components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: >-
        For more information, see
        https://docs.github.com/en/rest/apps/oauth-applications?apiVersion=2022-11-28
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          refreshUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Grants full control of private repositories.
            user: Grants read/write access to profile info only.
            project: Grants read/write access to projects.
